%html
    %body
        .header
            グループを作成しました
        .side-bar
            .side-bar-header
                .side-bar-header__name
                    ジョルジョ・ジョバーナ
                .side-bar-header__icons
                    %li{:class=>"fa fa-edit"}
                    %li{:class=>"fa fa-cog"}     

            .side-bar-group
                .side-bar-group__name   
                    パッショーネ
                .side-bar-group__new-message    
                    ボラボラボラ
                .side-bar-group__name   
                    スターダストクルセイダー
                .side-bar-group__new-message    
                    オラオラオラ        
        .chat
            .chat-header 
                .chat-header-left
                    .chat-header-left__group-name
                        パッショーネ
                    .chat-header-left__group-members
                        ジョルジョ・ジョバーナ ブローノ・ブチャラティ ナランチャ・ギルガ
                .chat-header-right
                    Edit
            .chat-messages         
                .chat-messages-1
                    .chat-messages-1__username
                        ブローノ・ブチャラティ
                    .chat-messages-1__time
                        2019/02/13(Wed)17:30:42
                    .chat-messages-1__message
                        アリアリアリ
                .chat-messages-2
                    .chat-messages-2__username
                        ナランチャ・ギルガ
                    .chat-messages-2__time
                        2019/02/13(Wed)17:30:43
                    .chat-messages-2__message
                        ボラボラボラ
            .chat-form
                .chat-form__input 
                    =form_for @message do |f|    
                        .chat-form__input__message
                            type a message    
                        %label.chat-form__input__pic{for:"upload-icon"}
                            %i.fa.fa-picture-o  
                            =f.file_field :image, id: "upload-icon"
                .chat-form__send             
                    SEND