.side-bar{
    float: left;
    color:$white;
    height: 100%;
    width:300px;
    font-weight: bold;
    &-header{
        background-color: #253141;
        height: 100px;
        line-height: 100px;
        padding: 0 $side-bar-padding;
        &__name{
            @include display;
            font-size: 16px;
        }
        &__icons{
            @include display;
            float: right;
        }        
    }
    &-group{
        background-color: #2f3e51;
        height: calc(100vh - 100px);
        padding: 0 $side-bar-padding ;
        &__name{
            padding-top: $side-bar-padding;
            font-size: 15px;
        }
        &__new-message{
            font-size: 11px;
            padding-top: 5px;
            padding-bottom: 40px;
        }
              
    }
}
    