.side-bar{
    float: left;
    color:$white;
    height: 100%;
    width:300px;
    font-weight: bold;
    &-header{
        background-color: #253141;
        height: 100px;
        line-height: 100px;
        padding: 0 $side-bar-padding;
        &__name{
            @include display;
            font-size: 16px;
        }
        &__lists{
            @include display;
            float: right;
            .list {
                display: inline-block;
              }
            .icon {
                color: $white;
                font-size: $side_header_font;
            }
        }        
    }
    &-group{
        background-color: #2f3e51;
        height: calc(100vh - 100px);
        padding: 0 $side-bar-padding ;
        &__name{
            color: $white;
            padding-top: $side-bar-padding;
            font-size: 15px;
        }
        &__new-message{
            color: $white;
            font-size: 11px;
            padding-top: 5px;
            padding-bottom: 40px;
        }
              
    }
}
    